@import "../../../css/index.scss";
#MainMenu {
  div.logoMenus {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-light, #f4f5f8);
    z-index: 10;
    flex-direction: column;
    img {
      width: 11rem;
      padding-right: 0.5em;
    }
    .paiespan{
      color: #5EB975;
      font-weight: 500;
    }
  }
  .ion-padding.fdr {
    padding: 0 15px 0 4em;
    color: var(--ion-color-gris);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    p {
      cursor: pointer;
      font-size: medium;
    }
    ion-icon {
      font-size: medium;
    }
  }
  .dec-container{
    position: absolute;
    bottom: 10px ;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
  }
}
